.dashboard {
  display: flex;

  &__main {
    flex: 1;
  }

  &__super {
    position: sticky;
    top: 0;
    left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;

    padding: 0 2rem;
    margin-bottom: 1rem;
    z-index: 10;

    @include themed() {
      background: t(background-color);
    }
  }

  &__super-title {
    display: flex;
    justify-self: center;
    gap: .6rem;
    margin-right: auto;

    font-weight: bold;
    font-size: 1.2rem;

    @include themed() {
      :deep(svg) {
        fill: #4c2ee4;
        fill: t(brand-color);
      }
    }
  }

  &__topbar {
    display: flex;
    flex: 1;
    align-content: flex-start;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: .6rem;
  }

  &__user-picture {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    overflow: hidden;

    @include themed() {
      background: t(background-color-alt);
      border: 1px solid t(border-color);
    }
  }

  &__view {
    padding: 0 2rem 2rem 2rem;
  }

  &__view,
  &__view-content {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
  }
}
