$icon-size: 1.3rem;

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100vh;

  @include themed() {
    background: #f8f8f8;
    // border-right: 1px solid t(border-color);
  }

  &__logo {
    align-self: center;
    width: 8rem;
    height: 4rem;
    object-fit: contain;
    margin: 2rem;
  }

  &__routes {
    padding-left: 2rem;
  }

  &__route {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: .6rem 2rem .6rem .6rem;
    color: #777;

    :deep(.icon), :deep(svg) {
      width: $icon-size;
      height: $icon-size;
    }

    &:hover {
      background: #e7e6eb;
      color: #4c66fa;

      :deep(svg) {
        fill: #4c66fa;
      }
    }
  }

  &__picture-container {
    margin: auto 2rem 2rem 2rem;
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;

    @include themed() {
      background: t(background-color);
      border: 1px solid t(border-color);
    }
  }

  &__picture {
    width: 4rem;
    height: 4rem;
  }
}
